* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #393c43;
    font-family: 'Lobster', cursive;
}

.container {
    color: #4ECCA3;
}

.title {
    font-size: 500%;
    padding-top: 3%;
}

.player-and-dice {
    padding: 3% 30%;
}

.player-name {
    font-family: 'Indie Flower', cursive;
    font-weight: lighter;
    font-size: 2.5rem;
}

.player, .dices {
    display: flex;
    justify-content: space-evenly;
    padding: 2% 0;
}

.dice1 img, .dice2 img, .player-name {
    margin: auto 50px;
}

/*Footer*/
.credits {
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
}

.credits a {
    text-decoration: none;
    color: #D6D5A8;
}


.credits a:hover {
    background-color: grey;
    border: 2px solid;
    border-radius: 5%;
    /*overflow: hidden;*/
}

/*Support for small screens*/
@media (max-width: 780px) {
    .title {
        font-size: 1.5rem;
    }


    .player-name {
        font-size: 1.5rem;
    }

    .player, .dices {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 5% 2%;
        margin: 20px 0;
    }

    .player-and-dice {
        display: flex;
        justify-content: space-evenly;
    }

    .dice1 img, .dice2 img {
        width: 70%;
    }

    .credits {
        font-size: 0.5rem;
    }
}